@using  OnlineMovieService.Models;

@{
    ViewData["Title"] = "Invoice";
    var ticketinfo = (ShowInfo)ViewData["ticketinfo"];
}

<h2>Invoice</h2>

<div>
    <h3>Booking ID: @ticketinfo.MultiplexName</h3>
    <br />
    <h3><label>@ticketinfo.HallName</label></h3>
    <br />
    <h3><label>@ticketinfo.Seats[0].Bookingid</label></h3>
        <table class="table table-bordered" style="box-shadow:inherit" id="customers">
            <tr>
                <th>SeatNo</th>
                <th>Ticketno</th>
            </tr>
            @foreach (var b in ticketinfo.Seats)
            {
                <tr>
                    <td style="padding:10px">@b.Seatno</td>
                    <td style="padding:10px">@b.Ticketno</td>

                </tr>
            }
        </table>
</div>