@using  MovieTicketLibrary;
@model List<DisplayMovies>
@{
    ViewData["Title"] = "GetMovies";
}


<form asp-action="Getmovies" asp-controller="Search" method="post">
    <table class="table table-bordered" border="1">
        @foreach (var m in Model)
        {
            <tr>
                
                <th>Movie Image</th>
                <th>Movie Name</th>
                <th>Multiplex Name</th>
                <th>Price</th>
                <th>Movie Time</th>
                <th>Select</th>
                
                    
            </tr>












            <tr>
                <td>
                    <img src='@string.Format("/images/{0}",m.MovieImage)' height="100" width="200" />
                </td>
                <td>@m.MovieName</td>
                <td>@m.MultiplexName</td>
                <td>@Math.Round(m.Price, 0)</td>
                <td>@Convert.ToDateTime(@m.Showtime.ToString()).ToLongTimeString()</td>
                <td>
                    <a asp-action="SelectedShow" asp-controller="Search" class="btn btn-success" asp-route-showid="@m.ShowId">Select Show</a>
                </td>
            </tr>
        }
    </table>
    </form>
