@using  MovieTicketLibrary;
@model List<DisplayMovies>
@{
    ViewData["Title"] = "GetMovies";
}
<!DOCTYPE html>
<html lang="en">
<head>

    <h2 class="heading-main">Online Movie Ticket Booking </h2>
    <link href="~/css/site.css" rel="stylesheet" />

   

    <style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #customers td, #customers th {
                border: 1px solid #ddd;
                padding: 10px;
            }

            #customers tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #customers tr:hover {
                background-color: #ddd;
            }

            #customers th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: center;
                background-color: lightblue;
                color: black;
            }
    </style>

</head>
<body class="bg-img1">

    <marquee behavior="scroll" direction="left">

        <img src="~/images/stree1.jpg" width="125" height="100" alt="stree1">&nbsp;&nbsp;
        <img src="~/images/shah.jpg" width="125" height="100" alt="shahrukh khan" />&nbsp;&nbsp;

        <img src="~/images/deep.jpg" width="125" height="100" alt="deepika padukone" />&nbsp;&nbsp;

        <img src="~/images/baaz.jpg" width="125" height="100" alt="baaz" />&nbsp;&nbsp;
        <img src="~/images/badhai ho.jpg" width="125" height="100" alt="badhai ho" />&nbsp;&nbsp;
        <img src="~/images/dhamaal.jpg" width="125" height="100" alt="dhamaal" />&nbsp;&nbsp;
        <img src="~/images/dhoom.jpg" width="125" height="100" alt="dhoom" />&nbsp;&nbsp;
        <img src="~/images/golmaal3.jpg" width="125" height="100" alt="golmaal" />&nbsp;&nbsp;
        <img src="~/images/salman.jpg" width="125" height="100" alt="salman" />&nbsp;&nbsp;
        <img src="~/images/AYU.JPG" width="125" height="100" alt="ayu" />
    </marquee>
    <div style="position:absolute;top:40%;right:1%;">
        <img src="~/images/oo.jpg" alt="salman" height="400px" width="400px" />
    </div>

        <div style="position:absolute;top:35%;left:4%">
            <div>
                <form asp-action="Getmovies" asp-controller="Search" method="post">

                    <table border="0" style="box-shadow:inherit" id="customers">
                        <tr>

                            <th><h3>Movie Image</h3></th>
                            <th><h3>Movie Name</h3></th>
                            <th><h3>Multiplex Name</h3></th>
                            <th><h3>Price</h3></th>
                            <th><h3>Movie Time</h3></th>
                            <th><h3>Select</h3></th>


                        </tr>
                        @foreach (var m in Model)
                        {

                            <tr>
                                <td>
                                    <img src='@string.Format("/images/{0}",m.MovieImage)' height="120" width="150" />
                                </td>
                                <td style="padding:30px"><h3>@m.MovieName</h3></td>
                                <td style="padding:30px"><h3>@m.MultiplexName</h3></td>
                                <td style="padding:30px"><h3>@Math.Round(m.Price, 0)</h3></td>
                                <td style="padding:30px"><h3>@Convert.ToDateTime(@m.Showtime.ToString()).ToLongTimeString()</h3></td>

                                <td style="padding:30px">
                                    <a asp-action="SelectedShow" asp-controller="Search" class="btn" asp-route-showid="@m.ShowId">Select Show</a>
                                </td>
                            </tr>

                        }
                    </table>

                </form>
            </div>
        </div>
  

</body>
</html>

